# 1. Entorno Virtual (¡Nunca subir esto!)
env/
venv/
ENV/

# 2. Variables de Entorno (Datos sensibles / Secretos)
.env

# 3. Archivos de Python (Basura de compilación)
**/__pycache__/
*.py[cod]
*$py.class

# 4. Base de Datos (Si usas SQLite para pruebas locales)
*.sqlite3

# 5. Archivos de Docker y Estáticos generados
# Nota: Los estáticos se generan en el servidor, no hace falta subirlos
staticfiles/

# 6. Archivos del Sistema Operativo
.DS_Store
Thumbs.db
# Docker y Nginx
nginx/default.conf.ssl_backup
nginx/default.conf.staging_backup
nginx/default.conf.PROD_BACKUP

# No subir los certificados si los copiaste por error a la carpeta del proyecto
etc/letsencrypt/
*.pyc
*.pem
mi_clave_secreta.pem
