services:
  web:
    build: .
    container_name: portfolio
    # Primero recolecta los archivos CSS/JS y luego inicia el servidor profesional Gunicorn
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn mi_proyecto.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - PYTHONUNBUFFERED=1
      - DEBUG=False
    env_file:
      - .env
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: nginx_portfolio
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/app/staticfiles:ro
    depends_on:
      - web

volumes:
  static_volume:
